

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">

        <app-big-card
        Id="1"
         photoCover="https://t.ctcdn.com.br/r2XiONAaXz_dtEE5dhoy1bm_Fao=/1024x576/smart/i759818.jpeg"
         cardTitle="NOVO HOMEM DE FERRO 3D"
         cardDescription="Marvel Anunci novo Homem de Ferro"
         >
        </app-big-card>

    </div>
     <div class="articles__others">
        <app-small-card
            Id="2"
            cardTitle="Nova série anunciada no Disney plus"
            photoCover="https://t.ctcdn.com.br/r2XiONAaXz_dtEE5dhoy1bm_Fao=/1024x576/smart/i759818.jpeg"
            >
        </app-small-card>
        

        <app-small-card
        Id="3"
        cardTitle="Nova filme do Pantera Negra será lançado em breve"
        photoCover="https://s2.glbimg.com/4QGdOw7Q6m_bPx-fVMvguYS2BxU=/620x466/smart/e.glbimg.com/og/ed/f/original/2020/11/17/panteranegra.jpeg"
        >
    </app-small-card>

        <app-small-card
        Id="4"
        cardTitle="Novo filme do Xmen está em pós produção, afirma diretor"
        photoCover="https://s2-techtudo.glbimg.com/XEjoJ9NZIfzAak4yzk_nxl-urtI=/0x0:2560x1600/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/o/o/RWzATXSaG30IWVkdLHwQ/x-men-capa.jpg"
        >
        </app-small-card>
        
       
     </div>
</div>
